/* https://www.w3schools.com/css/css3_box-sizing.asp#:~:text=With%20the%20CSS%20box%2Dsizing,are%20the%20same%20size%20now! */
* {
    box-sizing: border-box;
}

html, body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
}

header {
    text-align: center;
}

header, section {
    border: 1px solid;
}

/* change size of fields */
input {
    min-width: 400px;
}

label {
    padding-right: 10px;
}

/* Content */
/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.content {
    display: flex;
    /* https://stackoverflow.com/questions/44153866/how-can-i-get-the-height-of-an-element-using-css-only/44156191 */
    /* apparently calculates height dynamically */
    height: calc(100% - 20px);
}

/* https://stackoverflow.com/questions/44645465/when-using-height-100vh-for-the-container-vertical-scrollbar-appears */
.column-preview {
    /* flex: 50%; */
    width: 794px;
    height: 1123px;
}

.column-group {
    display: flex;
}

.column-desc {
    flex: 1;
    text-align: right;
    min-width: 150px;
}

.column-input {
    flex: 1;
}

.template {

}

/* PREVIEW */
/* Header */
.name {
    text-align: center;
}
.contact {
    display: flex;
    justify-content: center;
}

.preview-header {
    margin: 96px 0 0 0;
}

.preview-desc {
    margin-top: 20px;
}

/* Container */
/* https://papersize.co/a-paper-sizes-in-pixels/ */
/* A4 Paper is 96 PPI and 794px x 1123px */
.preview-container {
    margin: 0 96px;
}